/* Biome will ignore this cause CSS.parser option is set */
@import "tailwindcss" prefix(ui);

@theme {
  /* Grayscale */
  --color-black: hsla(154, 89%, 4%, 1);

  /* Brand */
  --color-brand-orange: hsla(12, 89%, 39%, 1);
  --color-brand-purple: hsla(269, 64%, 38%, 1);

  /* System */
  --color-system-yellow: hsla(49, 93%, 67%, 1);
  --color-system-green: hsla(150, 100%, 12%, 1);
}
